name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
     - uses: lowlighter/metrics@latest
       with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: double-god
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Shanghai
          
          # --- 语言统计配置 ---
          plugin_languages: yes
          
          # 【重点 1】听你的，开启作者验证！
          # 这样能确保只统计真正属于你的代码，踢掉 node_modules 等垃圾
          commits_authoring: double-god
          
          # 【重点 2】精准屏蔽干扰项
          # 把 Vue 和 HTML/CSS 屏蔽掉，防止它们掩盖 Python
          plugin_languages_ignored:  jupyter notebook, dockerfile, makefile
          
          # 细节设置
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8
          plugin_languages_threshold: 0% # 只要是你的代码，多少都显示
